@import 'tailwindcss';
@import './assets/fonts/tusker.css';
@import './assets/fonts/delight.css';

@theme {
  --color-primary-50: #e2efff;
  --color-primary-100: #c2e0ff;
  --color-primary-200: #7dc5ff; 
  --color-primary-300: #00a7f0;
  --color-primary-400: #0080c2;
  --color-primary-500: #00699a;
  --color-primary-600: #004b6f;
  --color-primary-700: #003049;
  --color-primary-800: #002b42;
  --color-primary-900: #002438;
  --color-primary-950: #002032;
  --color-secondary-50: #fff8f6;
  --color-secondary-100: #ffede7;
  --color-secondary-200: #ffdbce;
  --color-secondary-300: #ffc8b4;
  --color-secondary-400: #ffb596;
  --color-secondary-500: #ffa67b;
  --color-secondary-600: #ff914d;
  --color-secondary-700: #f77f00;
  --color-secondary-800: #af5800;
  --color-secondary-900: #6e3500;
  --color-secondary-950: #4c2300;
  --color-neutral-50: #f4eed1;
  --color-neutral-100: #f4eed1;
  --color-neutral-200: #f2ecc9;
  --color-neutral-300: #f1e9bf;
  --color-neutral-400: #eee6ba;
  --color-neutral-500: #eae2b7;
  --color-neutral-600: #ff914d;
  --color-neutral-700: #928c70;
  --color-neutral-800: #67644f;
  --color-neutral-900: #403e30;
  --color-neutral-950: #2e2c22;
  --color-surface: #002438;
  --color-main-primary: #003049;
  --color-main-secondary: #f77f00;
  --color-main-neutral: #eae2b7;
  --color-success: #005b25;
  --color-info: #4361ee;
  --color-warning: #ffb703;
  --color-error: #d62828;
  --color-dark-text: #faf7ea;
  --font-tusker: 'Tusker', sans-serif;
  --font-delight: 'Delight', sans-serif;
}

@layer base {
  a {
    @apply transition-colors duration-300 ease-in-out;
  }
  a:hover {
    @apply text-secondary-700;
  }

  h1, h2, h3, h4 {
    @apply font-tusker;
  }

  h5, h6 {
    @apply font-delight;
  }

  h1 {
    @apply font-bold text-main-secondary lg:text-[3rem] text-[2rem]
  }

  h2 {
    @apply font-bold text-main-secondary lg:text-[2rem] text-[1.5rem]
  }

  h3 {
    @apply font-bold text-main-secondary lg:text-[1.75rem] text-[1.25rem]
  }

  h4 {
    @apply font-semibold text-main-secondary lg:text-[1.5rem] text-[1.25rem]
  }

  h5 {
    @apply font-extrabold text-main-secondary lg:text-[1.5rem] text-[1.25rem]
  }

  h6 {
    @apply font-extrabold text-main-secondary lg:text-[1.25rem] text-[1rem]
  }

}
